/*
 * MWS Admin v2.0.2 - Form Stylesheet
 * This file is part of MWS Admin, an Admin template build for sale at ThemeForest.
 * All copyright to this file is hold by Mairel Theafila <maimairel@yahoo.com> a.k.a nagaemas on ThemeForest.
 * Last Updated:
 * October 21, 2012
 *
 */
   
/* Form Style
================================================== */
 
.mws-form {
    clear: both;
    display: block;
    margin-bottom: 0;
}

.mws-form .mws-form-row {
    padding: 18px 24px;
}

.ui-dialog .mws-form-row {
    padding: 0 0 18px 0;
}

/* Button Row
================================================== */

.mws-form .mws-button-row {
    padding: 16px 24px;
    border-top: 1px solid #bcbcbc;
    background-color: #d2d2d2;
}

.mws-form .mws-button-row .btn + .btn, 
.mws-form .mws-button-row .btn-group + .btn, 
.mws-form .mws-button-row .btn + .btn-group {
    margin-left: 5px;
}

/* Fieldset
================================================== */

.mws-form fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    border-top: 1px dotted #bcbcbc;
}

.mws-form fieldset legend {
    margin-left: 24px;
    padding: 0 4px;
    border: 1px dotted #bcbcbc;
}

/* Form Labels
================================================== */

.mws-form .mws-form-label {
    padding-bottom: 7px;
    cursor: pointer;
    display: block;
}

.mws-form .mws-form-label .required {
    color: #f00;
}

/* Form Inputs
================================================== */

.mws-form .mws-form-item > select, 
.mws-form .mws-form-item > textarea, 
.mws-form .mws-form-item > input[type="text"], 
.mws-form .mws-form-item > input[type="password"], 
.mws-form .mws-form-item > input[type="datetime"], 
.mws-form .mws-form-item > input[type="datetime-local"], 
.mws-form .mws-form-item > input[type="date"], 
.mws-form .mws-form-item > input[type="month"], 
.mws-form .mws-form-item > input[type="time"],
.mws-form .mws-form-item > input[type="week"], 
.mws-form .mws-form-item > input[type="number"], 
.mws-form .mws-form-item > input[type="email"], 
.mws-form .mws-form-item > input[type="url"], 
.mws-form .mws-form-item > input[type="search"], 
.mws-form .mws-form-item > input[type="tel"], 
.mws-form .mws-form-item > input[type="color"] {
    width: 75%;
}

.mws-form .mws-form-item.large > select, 
.mws-form .mws-form-item.large > textarea, 
.mws-form .mws-form-item.large > input[type="text"], 
.mws-form .mws-form-item.large > input[type="password"], 
.mws-form .mws-form-item.large > input[type="datetime"], 
.mws-form .mws-form-item.large > input[type="datetime-local"], 
.mws-form .mws-form-item.large > input[type="date"], 
.mws-form .mws-form-item.large > input[type="month"], 
.mws-form .mws-form-item.large > input[type="time"],
.mws-form .mws-form-item.large > input[type="week"], 
.mws-form .mws-form-item.large > input[type="number"], 
.mws-form .mws-form-item.large > input[type="email"], 
.mws-form .mws-form-item.large > input[type="url"], 
.mws-form .mws-form-item.large > input[type="search"], 
.mws-form .mws-form-item.large > input[type="tel"], 
.mws-form .mws-form-item.large > input[type="color"] {
    width: 100%;
}

.mws-form .mws-form-item.small > select, 
.mws-form .mws-form-item.small > textarea, 
.mws-form .mws-form-item.small > input[type="text"], 
.mws-form .mws-form-item.small > input[type="password"], 
.mws-form .mws-form-item.small > input[type="datetime"], 
.mws-form .mws-form-item.small > input[type="datetime-local"], 
.mws-form .mws-form-item.small > input[type="date"], 
.mws-form .mws-form-item.small > input[type="month"], 
.mws-form .mws-form-item.small > input[type="time"],
.mws-form .mws-form-item.small > input[type="week"], 
.mws-form .mws-form-item.small > input[type="number"], 
.mws-form .mws-form-item.small > input[type="email"], 
.mws-form .mws-form-item.small > input[type="url"], 
.mws-form .mws-form-item.small > input[type="search"], 
.mws-form .mws-form-item.small > input[type="tel"], 
.mws-form .mws-form-item.small > input[type="color"] {
    width: 55%;
}

.mws-form select, 
.mws-form textarea, 
.mws-form input[type="text"], 
.mws-form input[type="password"], 
.mws-form input[type="datetime"], 
.mws-form input[type="datetime-local"], 
.mws-form input[type="date"], 
.mws-form input[type="month"], 
.mws-form input[type="time"],
.mws-form input[type="week"], 
.mws-form input[type="number"], 
.mws-form input[type="email"], 
.mws-form input[type="url"], 
.mws-form input[type="search"], 
.mws-form input[type="tel"], 
.mws-form input[type="color"] {
    border: 1px solid #c5c5c5;
    padding: 4px 6px;
    color: #323232;
    margin: 0;
    height: 29px;
    line-height: 19px;
    background-color: #ffffff;
    outline: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-box-shadow: inset 0px 1px 3px rgba(128, 128, 128, 0.1);
    -moz-box-shadow: inset 0px 1px 3px rgba(128, 128, 128, 0.1);
    box-shadow: inset 0px 1px 3px rgba(128, 128, 128, 0.1);
}

.mws-form textarea {
    height: 10em;
    resize: none;
}

.mws-form input[disabled],
.mws-form select[disabled],
.mws-form textarea[disabled],
.mws-form input[readonly],
.mws-form select[readonly],
.mws-form textarea[readonly] {
    background: #f0f0f0;
}

.mws-form select.error, 
.mws-form textarea.error, 
.mws-form input[type="text"].error, 
.mws-form input[type="password"].error, 
.mws-form input[type="datetime"].error, 
.mws-form input[type="datetime-local"].error, 
.mws-form input[type="date"].error, 
.mws-form input[type="month"].error, 
.mws-form input[type="time"].error,
.mws-form input[type="week"].error, 
.mws-form input[type="number"].error, 
.mws-form input[type="email"].error, 
.mws-form input[type="url"].error, 
.mws-form input[type="search"].error, 
.mws-form input[type="tel"].error, 
.mws-form input[type="color"].error {
    border-color: #eb979b;
}

/* Column Form Layout
================================================== */

.mws-form-cols {
    padding: 0 24px;
}

.mws-form-item .mws-form-cols {
    padding: 0;
}

.mws-form-item .mws-form-cols [class*="mws-form-col-"] {
    padding-top: 0;
    padding-bottom: 0;
}

[class*="mws-form-col-"] {
    float: left;
    padding: 12px 6px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

[class*="mws-form-col-"] label {
    float: none;
    width: auto;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

[class*="mws-form-col-"] .mws-form-item {
    margin-left: 0 !important;
}

[class*="mws-form-col-"] .mws-form-item select, 
[class*="mws-form-col-"] .mws-form-item textarea, 
[class*="mws-form-col-"] .mws-form-item input[type="text"], 
[class*="mws-form-col-"] .mws-form-item input[type="password"], 
[class*="mws-form-col-"] .mws-form-item input[type="datetime"], 
[class*="mws-form-col-"] .mws-form-item input[type="datetime-local"], 
[class*="mws-form-col-"] .mws-form-item input[type="date"], 
[class*="mws-form-col-"] .mws-form-item input[type="month"], 
[class*="mws-form-col-"] .mws-form-item input[type="time"],
[class*="mws-form-col-"] .mws-form-item input[type="week"], 
[class*="mws-form-col-"] .mws-form-item input[type="number"], 
[class*="mws-form-col-"] .mws-form-item input[type="email"], 
[class*="mws-form-col-"] .mws-form-item input[type="url"], 
[class*="mws-form-col-"] .mws-form-item input[type="search"], 
[class*="mws-form-col-"] .mws-form-item input[type="tel"], 
[class*="mws-form-col-"] .mws-form-item input[type="color"] {
    width: 100%;
}

.mws-form-cols .alpha {
    padding-left: 0;
}

.mws-form-cols .omega {
    padding-right: 0;
}

.mws-form-col-1-8 {
    width: 12.5%;
}

.mws-form-col-2-8 {
    width: 25%;
}

.mws-form-col-3-8 {
    width: 37.5%;
}

.mws-form-col-4-8 {
    width: 50%;
}

.mws-form-col-5-8 {
    width: 62.5%;
}

.mws-form-col-6-8 {
    width: 75%;
}

.mws-form-col-7-8 {
    width: 87.5%;
}

.mws-form-col-8-8 {
    width: 100%;
}

/* Form Layout
================================================== */

.mws-form .mws-form-inline .mws-form-item {
    margin-left: 156px;
}

.mws-form .mws-form-inline .mws-form-label {
    width: 140px;
    float: left;
    padding-top: 7px;
    margin-right: 16px;
}

.mws-form .mws-form-inline .mws-form-block .mws-form-label {
    width: auto;
    float: none;
    padding-top: 0;
    margin-right: 0;
}

.mws-form .mws-form-inline .mws-form-block .mws-form-item {
    margin-left: 0;
}

/* Form List
================================================== */

.mws-form .mws-form-list, 
.mws-form .mws-form-list li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mws-form .mws-form-list {
    width: 100%;
    display: block;
}

.mws-form .mws-form-inline .mws-form-list {
    float: left;
    margin-top: 4px;
}

.mws-form .mws-form-list, 
.mws-form .mws-form-block .mws-form-list {
    float: none;
}

.mws-form .mws-form-list.inline li {
    float: left;
    margin-right: 10px;
}

.mws-form .mws-form-list li label {
    width: auto;
    float: none;
    margin: 0;
    padding: 0;
    display: inline;
    vertical-align: middle;
}

.mws-form .mws-form-list li input {
    vertical-align: middle;
}

/* Form Clearfix
================================================== */

.mws-form .mws-form-row:before,
.mws-form .mws-form-row:after {
    display: table;
    content: "";
    line-height: 0;
}

.mws-form .mws-form-row:after {
    clear: both;
}

.mws-form .mws-form-row {
    *zoom: 1;
}

/* Form Messages
================================================== */

.mws-form-message {
    font-size: 12px;
    cursor: pointer;
    border: 1px solid #d2d2d2;
    padding: 15px 8px 15px 45px;
    position: relative;
    vertical-align: middle;
    background-color: #f8f8f8;
    background-position: 12px 12px;
    background-repeat: no-repeat;
    margin-bottom: 12px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.mws-form-message p, 
.mws-form-message ul, 
.mws-form-message ol {
    margin: 0;
}

.mws-form-message ul li, 
.mws-form-message ol li {
    list-style-position: inside;
    list-style-type: inherit;
    margin: 0;
}

.mws-form-message.error {
    background-color: #ffcbca;
    background-image: url(../images/core/message-error.png);
    border-color: #eb979b;
    color: #9b4449;
}

.mws-form-message.success {
    background-color: #e1f1c0;
    background-image: url(../images/core/message-success.png);
    border-color: #b5d56d;
    color: #62a426;
}

.mws-form-message.warning {
    background-color: #fef0b1;
    background-image: url(../images/core/message-warning.png);
    border-color: #ddca76;
    color: #a98b15;
}

.mws-form-message.info {
    background-color: #bce5f7;
    background-image: url(../images/core/message-info.png);
    border-color: #a6d3e8;
    color: #11689E;
}

.mws-panel-body.no-padding .mws-form-message {
    margin-bottom: 0;
    border-width: 0 0 1px 0;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.mws-panel-body.no-padding .mws-form-message + .mws-form-message {
    border-top: 0;
}

/* Form Errors
================================================== */

.mws-form .mws-form-item .mws-error, 
.mws-form .mws-form-item label.error, 
.mws-form .mws-form-item span.error, 
.mws-form .mws-form-item div.error {
    background: none;
    color: #c83139;
    margin: 0;
    width: auto;
    float: none;
    display: block;
    padding: 5px 0 0;
    font-size: 12px;
}

/* Other Elements
================================================== */

.mws-colorpicker {
    background-image: url(../images/core/cpicker.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 32px;
}

.mws-form-item .ui-progressbar {
    position: relative;
    top: 10px;
}

.mws-form-item .ui-slider-horizontal {
    position: relative;
    top: 14px;
}

.select2-container-multi .select2-choices .select2-search-field input {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.mws-form .mws-form-item > .ui-spinner, 
.mws-form .mws-form-item > .select2-container, 
.mws-form .mws-form-item > .fileinput-holder {
    width: 75%;
}

.mws-form .mws-form-item.large > .ui-spinner, 
.mws-form .mws-form-item.large > .select2-container, 
.mws-form .mws-form-item.large > .fileinput-holder {
    width: 100%;
}

.mws-form .mws-form-item.small > .ui-spinner, 
.mws-form .mws-form-item.small > .select2-container, 
.mws-form .mws-form-item.small > .fileinput-holder {
    width: 55%;
}

.csc-button {
    outline: none;
    float: right;
    padding: 6px 9px;
    margin: -7px -8px -7px 2px;
    cursor: pointer;
    z-index: 9999;
    font-family: 'PTSansRegular', Arial, Helvetica, sans-serif;
    background-color: #e0e0e0;
    color: #666666;
    border: 1px solid #ababab;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8e5e5), color-stop(100%, #e0e0e0));
    background-image: -webkit-linear-gradient(#e8e5e5,#e0e0e0);
    background-image: -moz-linear-gradient(#e8e5e5,#e0e0e0);
    background-image: -o-linear-gradient(#e8e5e5,#e0e0e0);
    background-image: linear-gradient(#e8e5e5,#e0e0e0);
}
